<div class="wrapper">
  <div class="container">
    <h1>Welcome to the scrabble game!</h1>
    <p>Try to form the longest word with the random letters given</p>
    <%= link_to "Let's Play!", new_path %>
  </div>
</div>
